<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>

<style>

    body{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    a{
        display: flex;
        flex-direction: column;
    }

</style>

<body>

    <div class="container">
        <form action="/create_dojo" method="post">
            <h1>New Dojo</h1>
            <label for="name">Name:</label>
            <input type="text" name="name">
            <input type="submit" value="Create">
        </form>
    </div>

    <div class="container2">
        <h1>All Dojos</h1>
        {% for dojo in dojos: %}
            <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a>
        {% endfor %}
        <br>
        <a href="/add_ninja">Add Ninja</a>
    </div>

</body>
</html>