<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        body{
            display: flex;
            flex-direction: column;
        }

    </style>
    <title>New Ninjas</title>
</head>
<body>

    <form action="/create_ninja" method="post">
        <h1>New Ninja</h1>
        <label for="location">Dojo:</label>
        <select name="location" id="location">
            <option value="select">-- Select Location --</option>
            {% for dojo in dojos: %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select>
    
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
    
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
    
        <label for="age">Age:</label>
        <input type="number" name="age">
    
        <input type="submit" value="Create Ninja">

    </form>

    <a href="/">Home</a>

</body>
</html>